@model List<ado.Areas.Admin.Data.doanhThu>
@using System.Globalization
@{
    ViewBag.Title = "doanhThuThangNay";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="container-full">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">Doanh Thu Tháng này </h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">e-Commerce</li>
                            <li class="breadcrumb-item active" aria-current="page">Doanh Thu</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-hover no-wrap product-order" data-page-size="10">
                                <thead>
                                    <tr>
                                        <th>Tháng</th>
                                        <th>Năm</th>
                                        <th>Số Lượng sản phẩm bán được</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><h3>@item.Thang</h3></td>
                                            <td><h3>@item.Nam</h3></td>
                                            @{ var x = item.DoanhThu * 1000;}
                                            <td><h3>@item.soLuong</h3></td>
                                            <td><h3>@x.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</h3></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>

