
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<!-- Mirrored from www.multipurposethemes.com/admin/eduadmin-template/main/auth_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Nov 2020 01:43:44 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico">

    <title>Đăng nhập Admin</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/skin_color.css">

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url(~/images/auth-bg/bg-1.jpg)">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-12">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="bg-white rounded30 shadow-lg">
                            <div class="content-top-agile p-20 pb-0">
                                <h2 class="text-primary">Let's Get Started</h2>
                                <p class="mb-0">Sign in to continue to WebkitX.</p>
                            </div>
                            <div class="p-40">
                               
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
                                            </div>
                                            <input type="text" id="tenDN1" class="form-control pl-15 bg-transparent" placeholder="Tên đăng nhập">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
                                            </div>
                                            <input type="password" id="matKhau1" class="form-control pl-15 bg-transparent" placeholder="Mật khẩu">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="checkbox">
                                                <input type="checkbox" id="basic_checkbox_1">
                                                <label>Ghi nhớ</label>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-6">
                                            <div class="fog-pwd text-right">
                                                <a href="javascript:void(0)" class="hover-warning"><i class="ion ion-locked"></i> Forgot pwd?</a><br>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-12 text-center">
                                            <button id="dangNhap1" class="btn btn-danger mt-10">Đăng Nhập</button>
                                        </div>
                                        <span id="loi" style="color:red"></span>
                                        <!-- /.col -->
                                    </div>
                                

                            </div>
                        </div>
                        <div class="text-center">
                            <p class="mt-20 text-white">- Sign With -</p>
                            <p class="gap-items-2 mb-20">
                                <a class="btn btn-social-icon btn-round btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="btn btn-social-icon btn-round btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="btn btn-social-icon btn-round btn-instagram" href="#"><i class="fa fa-instagram"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Vendor JS -->
    <script src="~/js/vendors.min.js"></script>
    <script src="~/js/pages/chat-popup.js"></script>
    <script src="~/assets/icons/feather-icons/feather.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- <script src="~/Scripts/jquery-3.7.0.slim.js"></script> -->
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <!--<script src="~/Scripts/jquery-3.7.0.slim.min.js"></script> -->
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <!--<script src="~/Scripts/jquery-3.7.0.min.js"></script> -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dangNhap1').on('click', function () {
                var tenDn = $('#tenDN1').val();
                var matKhau = $('#matKhau1').val();
                $.ajax({
                    url: "/Login/DangNhap",
                    type: "POST",
                    data: { tenDN: tenDn, matKhau: matKhau, __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val() },
                    success: function (res) {
                        if (res.success) {
                            window.location.href = "/Admin/Chat/Index";
                        } else {
                            $('#loi').text('Tài khoản mật khẩu không chính xác');
                        }
                    }
                })
            })
        })
    </script>
</body>

<!-- Mirrored from www.multipurposethemes.com/admin/eduadmin-template/main/auth_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Nov 2020 01:43:45 GMT -->
</html>

